In [60]:
import torch
import torch.nn as nn
import torch.optim as optim
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from torch.utils.data import DataLoader, Dataset
import os

In [82]:
human = os.listdir("./human")
bot = os.listdir("./bot")

data = pd.read_csv("./bot/" + bot[0])
data = data.drop("Unnamed: 0", axis=1)
data = data.fillna(2)
data = data.replace(True, 1)
data = data.replace(False, 0)
[data[x].unique() for x in ["button", "click", "key", "press"]]
data["timestamp"] = pd.to_datetime(data["timestamp"])

C:\Users\Gokul\AppData\Local\Temp\ipykernel_18536\3759416839.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data = data.replace(True, 1)
C:\Users\Gokul\AppData\Local\Temp\ipykernel_18536\3759416839.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data = data.replace(False, 0)

In [83]:
data["timestamp"] = data["timestamp"].diff().dt.total_seconds()
data["speed"] = np.sqrt(data["x_position"].diff() ** 2 + data["y_position"].diff() ** 2) / data["timestamp"]
data["moved"] = data["x_position"].diff() + data["y_position"].diff()

In [84]:
data

,timestamp,x_position,y_position,button,click,key,press,speed,moved
0,NaN,211.0,626.0,1,1,2,2,NaN,NaN
1,0.001,211.0,626.0,1,0,2,2,0.000000,0.0
2,1.108,1541.0,699.0,1,1,2,2,1202.167759,1403.0
3,0.000,1541.0,699.0,1,0,2,2,NaN,0.0
4,0.928,1449.0,906.0,1,1,2,2,244.098846,115.0
...,...,...,...,...,...,...,...,...,...
151,0.001,338.0,191.0,1,0,2,2,0.000000,0.0
152,0.367,784.0,97.0,1,1,2,2,1241.956951,352.0
153,0.000,784.0,97.0,1,0,2,2,NaN,0.0
154,0.838,999.0,349.0,1,1,2,2,395.290787,467.0
155,0.001,999.0,349.0,1,0,2,2,0.000000,0.0